section.about{
  .section-body-wrapper{
    .long-msg{
      font-size: $fzM;
      line-height: 2;
      span.color{
        color: var(--accentPrimaryColor);
        font-weight: 700;
      }
    }
  }
}