
section.classes{
  // height: 100vh;
  .sec-ttl-years {
    display: flex;
    justify-content: space-between;
    select {
      margin: 15px 0 50px;
      padding: 5px 15px;
      font-size: $fzSS;
      outline: none;
      border: var(--accentPrimaryColor) 1px solid;
      cursor: pointer;
      background: white;
      @include tablet {
        margin: 10px 0 30px;
        padding: 3px 10px;
        font-size: 1rem;
      }
    }
  }
  .section-body-wrapper{
    padding: 0;
    background: none;
    height: 100%;
    .all-years-classes-wrapper {
      div.year{
        display: none;
        &.active{
          display: block;
        }
        background: var(--bgSecondaryColor);
        border-radius: 10px;
        padding: 50px;
        @include tablet{
          padding: 30px;
        }
        @include mobile{
          padding: 20px;
        }
        .semester {
          &:not(:first-of-type) {
            margin-top: 50px;
          }
          h4 {
            font-size: $fzMM;
            margin-bottom: 10px;
            font-weight: bold;
            @include tablet {
              font-size: $fzM;
            margin-bottom: 5px;
            }
          }
          .all-classes-wrapper {
            div.one-class-wrapper{
              display: flex;
              justify-content: space-between;
              align-items: center;
              text-align: center;
              padding: 5px 10px;
              &:not(:first-of-type) {
                border-top: 1px dashed var(--accentPrimaryColor);
              }
              &.table-header{
                // font-weight: bold;
                color: var(--accentPrimaryColor);
              }
              div.course-ttl {
                text-align: left;
              }
              
              .crd-grd {
                display: flex;
                gap: 5px;
                align-items: center;
                text-align: right;
                div {
                  min-width: 35px;
                }
              }
            }

          }
        }
      }
    }
  }
}