footer{
  background: $bgSecondaryColor;
  width: 100%;
  p{
    padding: 10px 0;
    text-align: center;
    font-size: $fzExs;
    a{
      color: $linkColor;
      cursor: pointer;
      @extend hover-underline;
      margin-left: 20px;
      
      i{
        margin-left: 5px;
        font-size: $fzExss;
      }
    }
  }
}