header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 120px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--accentPrimaryColor);
  color: white;
  transition: .3s;
  @include pc{
    left: -200px;
    &.active{
      left: 0px;
      transition: .3s;
      // animation: side-header-resp .5s;
    }
  }
  &:hover{
    width: 200px;
    nav{
      ul{
        li{
          white-space: nowrap;
          // &:hover{
            a{
              span{
                animation: fade-in-icons 1s;
                opacity: 1;
                visibility: visible;
                display: inline;
              }
            }
          // }
        }
      }
    }
  }
  .logo-wrapper{
    background: var(--accentSecondaryColor);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    span.m{
      font-size: $fzLL;
      font-weight: bold;
    }
    span.t{
      font-size: $fzL;
      margin-bottom: -8px;
      font-weight: bold;
    }
  }
  nav{
    padding: 0 20px;
    ul{
      display: flex;
      flex-direction: column;
      li{
        &:not(:last-child){
          margin-bottom: 10px;
        }
        a{
          display: inline-block;
          padding: 15px 30px;
          border-radius: 10px;
          transition: .3s;
          &:hover{
            background: rgba( 255, 255, 255, 0.2 );
            box-shadow: 2px 2px 5px 0px white;
            backdrop-filter: blur( 4px );
            // -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            // border: 1px solid rgba( 255, 255, 255, 0.18 );
          }
          i{
            height: 20px;
            width: 20px;
            text-align: center;
            color: white;
          }
          span{
            color: white;
            opacity: 0;
            visibility: hidden;
            display: none;
            margin-left: 20px;
            font-size: $fzS;
          }
        }
      }
    }
  }
  .arrow-wrapper{
    // background: var(--accentPrimaryColor);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
    span{
      font-size: $fzL;
      animation: arrow-move 1.5s infinite ease-out;
    }
  }
}
