section.home{
  padding-top: 0px;
  position: relative;
  @include more-than-mobile{
    padding: 50px;
  }
  @include tablet{
    text-align: center;
  }
  @include tablet{
    padding-top: 50px;
  }
  @include lg-pc{
    .toggle-icon-wrapper{
      z-index: 100;
      position: fixed;
      top: 10px;
      right: 10px;
      cursor: pointer;
      .toggle-icon{
        width: 50px;
        height: 50px;
        position: relative;
        background: var(--accentPrimaryColor);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile{
          width: 30px;
          height: 30px;
        }
        &::before{
          content: "";
          position: absolute;
          width: 30px;
          height: 2px;
          background: #fff;
          transition: .3s;
          box-shadow: 0px 10px 0px #fff;
          @include mobile{
            width: 18px;
            box-shadow: 0px 7px 0px #fff;
          }
        }
        &::after{
          content: "";
          position: absolute;
          width: 30px;
          height: 2px;
          background: #fff;
          transition: .3s;
          transform: translateY(-10px);
          z-index: 10;
          @include mobile{
            width: 18px;
            transform: translateY(-7px);
          }
        }
        &.active{
          background: var(--accentSecondaryColor);
          &::before{
            transform: translateY(0px) rotate(-45deg);
            box-shadow: 0px 0px 0px #fff;
          }
          &::after{
            transform: translateY(0px) rotate(45deg);
          }
        }
      }
    }
  }
  .body-wrapper{
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @include tablet{
      height: auto;
    }
    .grid{
      display: grid;
      grid-template: 
        "img greeting greeting" 250px
        "theme resume sns" 70px /
        250px 150px 1fr;
      grid-gap: 30px 50px;
      @include lg-pc{
        grid-template: 
          "img greeting greeting" 210px
          "theme resume sns" 70px /
          210px 150px 1fr;
      }
      @include tablet{
        grid-template: 
          "img" 210px
          "greeting" 1fr 
          "resume" 50px
          "sns" 50px 
          "theme" 70px / 
          250px;
        grid-gap: 30px;
      }
      img{
        grid-area: img;
        width: 250px;
        border-radius: 50%;
        margin-bottom: 20px;
        box-shadow: 
          2px 2px 4px 2px #cba6ff,
          4px 4px 8px 4px #b581ff,
          6px 6px 12px 6px #b47eff,
          8px 8px 16px 8px #9b54ff;
        @include lg-pc{
          width: 200px;
        }
        @include tablet{
          margin: 0 auto;
        }
      }
      .appearance-wrapper{
        grid-area: theme;
        h4{
          text-align: center;
          font-size: $fzM;
          margin-bottom: 10px;
        }
        .dots-wrapper{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
          #white-mode, #dark-mode{
            transition: .3s;
            width: 30px;
            height: 30px;
            border: 3px solid var(--accentPrimaryColor);
            border-radius: 50%;
            cursor: pointer;
            // transition: .3s;
            &.active{
              pointer-events: none;
              box-shadow: 0px 0px 10px 0px var(--hoverBoxShadowColor);
            }
            // &:hover{
            //   // box-shadow: 0px 0px 10px 0px var(--hoverBoxShadowColor);
            //   @include hoverAction1();
            // }
          }
          #white-mode{
            background: #fff;
          }
          #dark-mode{
            background: #333;
          }
        }
      }
      div.greeting-wrapper{
        grid-area: greeting;
        p.greeting{
          font-size: $fzMM;
        }
        h1{
          font-size: $fzExll;
          margin: 25px 0;
          color: var(--accentPrimaryColor);
          font-family: $fontMyName;
          @include lg-pc{
            font-size: $fzExl;
          }
          @include pc{
            font-size: $fzLL;
            margin: 10px 0;
          }
        }
        p.short-intro{
          line-height: 1.5;
        }
      }
      a#resume-btn{
        grid-area: resume;
        position: relative;
        display: inline-block;
        height: 43px;
        padding: 10px 20px;
        overflow: hidden;
        background: var(--accentPrimaryColor);
        color: var(--bgSecondaryColor);
        transition: .3s;
        &:hover{
          @include hoverAction1();
        }
        span{
          line-height: 25px;
          position: relative;
          z-index: 10;
          font-weight: bold;
          font-size: $fzS;
          display: flex;
          justify-content: center;
        }
      }
      .sns-icons{
        grid-area: sns; 
        display: flex;
        justify-content: center;
        @include tablet{
          justify-content: space-between;
        }
        a{
          display: inline-block;
          transition: .3s;
          &:not(:last-child){
            margin-right: 20px;
          }
          @include tablet{
            &:not(:last-child){
              margin-right: 0;
            }
          }
          i{
            padding: 9px;
            color: var(--accentPrimaryColor);
            background: var(--bgSecondaryColor);
            font-size: 25px;
            transition: .3s;
            &:hover{
              @include hoverAction1();
              // background: var(--accentPrimaryColor);
              // color: var(--bgSecondaryColor);
            }
          }
        }
      }
    }
  }
}

