@mixin hoverAction1(){
  box-shadow: 0px 0px 10px 0px var(--hoverBoxShadowColor);
}
@mixin front-back-end-ttl(){
  text-align: center;
  font-size: $fzL;
  font-family: $fontAccent;
  margin-bottom: 15px;

}
// ///////////
// Start: Skills section
// ///////////
skills-each-icon-style{
  .skill-wrapper{
    padding: 10px;
    box-shadow: 1px 1px 3px 0px var(--hoverBoxShadowColor);
    border-radius: 5px;
    // width: 40px;
    // height: 50px;
    width: 60px;
    height: 75px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet{
      padding: 7px;
      width: 45px;
      height: 60px;
    }
    h6{
      font-size: $fzExss;
      margin-top: 5px;
      position: absolute;
      bottom: 7px;
      text-align: center;
    @include tablet{
      font-size: $fzExsss;
      margin-top: 10px;
    }
    }
    img{
      margin-bottom: 20px;
      width: 30px;
      @include tablet{
        margin-bottom: 15px;
        width: 25px;
      }
    }
  }
}
skills-five-rate-left-right-col{
  // padding: 20px 30px;
  width: 100%;
  h4{
    @include front-back-end-ttl();
    span{
      font-size: $fzSS;
    }
  }
  div.skills-wrapper{
    @include pc{
      max-width: 400px;
      margin: 0 auto 50px;
    }
    // @include pc{
    //   display: flex;
    //   justify-content: center;
    //   margin: 0 auto;
    //   position: relative;
    // }
    p{
      font-size: $fzSS;
    }
    .icons-wrapper{
      border-left: 1px solid var(--textPrimaryColor);
      margin: 20px 0px 20px 20px;
      padding: 20px 0px 20px 20px;
      @include tablet{
        margin: 10px 0 10px 10px;
        padding: 10px 0px 10px 10px;
      }
      // @include tablet{
      //   margin: 10px 0;
      //   padding: 10px 0;
      // }
      div.five, .four, .three, .two, .one{
        height: 90px;
        display: flex;
        align-items: center;
        gap: 15px;
        @include tablet{
          height: 70px;
          gap: 10px;
        }
        @extend skills-each-icon-style; 
        // /////
        // Maximum numbers of skills icons in each row is 4, so if choose 4 out of all skills if you have more than five to place in one row
        // /////
      }
    }
  }
}
// ///////////
// End: Skills section
// ///////////

// ///////////
// Start: works section
// ///////////

works-inside-ttl{
  p{
    font-size: $fzM;
    font-weight: bold;
    margin-bottom: 5px;
    // @include tablet{
    //   font-size: $fzM;
    // }
  }
}
// ///////////
// End: works section
// ///////////
// ///////////
// Start: contact section
// ///////////
contact-left-right-col-link{
  &:hover{
    i.after{
      display: block;
      opacity: 1;
      visibility: visible;
      animation: fade-in-icons 1s;
    }
    i.before{
      opacity: 0;
      visibility: hidden;
      display: none;
      animation: fade-out-icons 1s;
    }
  }
  i{
    padding: 30px 0px 10px;
    // grid-area: i;
    // cursor: pointer;
    color: var(--accentPrimaryColor);
    font-size: 3rem;
    opacity: 0;
    visibility: hidden;
    display: none;
    animation: fade-in-icons 1s;
    &.active{
      opacity: 1;
      visibility: visible;
      display: block;
    }
  }
  a{
    // grid-area: a;
    z-index: 10;
    display: block;
    width: 100%;
    line-height: 100px;
    border-radius: 30px;
    color: var(--linkColor);
    font-size: $fzSS;
    &:hover{
      text-decoration: underline;
    }
    &:hover + i#after{
      display: block;
      opacity: 1;
      visibility: visible;
    }
    &:hover + i#before{
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }
  p.email-address, p.calendly{
    font-size: $fzM;
    margin-top: 10px;
    color: var(--linkColor);
    @include tablet{
      font-size: $fzSS;
    }
  } 
  p.sm-txt{
    // grid-area: p;
    font-size: $fzExss;
    // margin-top: 10px;
    padding-bottom: 30px;
    color: var(--textPrimaryColor);
  } 
}
// ///////////
// End: Works section
// ///////////
hover-underline{
  &:hover{
    text-decoration: underline;
  }
}

@mixin flex-cen-cen($jc:center, $ai:center){
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}