@mixin hoverAction1(){
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.79);
}
@mixin transition($speed:.5s){
  transition: all $speed;
}
@mixin front-back-end-ttl(){
  text-align: center;
  font-size: $fzL;
  font-family: $fontAccent;
  margin-bottom: 30px;
}
@mixin skill-icon(){
  width: 30px;
}
@mixin skill-wrapper(){
}

skills-five-rate-left-right-col{
  // padding: 20px 30px;
  width: 100%;
  h4{
    @include front-back-end-ttl();
  }
  div.skills-wrapper{
    p{
      font-size: $fzSS;
    }
    .icons-wrapper{
      border-left: 1px solid $textPrimaryColor;
      margin: 20px 0px 20px 20px;
      padding: 20px 0px 20px 20px;
      div.five, .four, .three, .two, .one{
        height: 90px;
        display: flex;
        align-items: center;
        gap: 10px;
        .skill-wrapper{
          padding: 10px 7px;
          box-shadow: 0px 1px 10px rgb(197, 197, 197);
          border-radius: 5px;
          width: 60px;
          height: 80px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          img{
            margin-bottom: 20px;
            @include skill-icon();
          }
          h6{
            font-size: $fzExss;
            margin-top: 5px;
            position: absolute;
            bottom: 7px;
            text-align: center;
          }
        }
      }
    }
  }
}
skills-in-progress-left-right-col{
  width: 100%;
  div.skills-wrapper{
    // Idk haha
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .skill-wrapper{
      padding: 10px 7px;
      box-shadow: 0px 1px 10px rgb(197, 197, 197);
      border-radius: 5px;
      // width: 40px;
      // height: 50px;
      width: 60px;
      height: 80px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h6{
        font-size: $fzExss;
        margin-top: 5px;
        position: absolute;
        bottom: 7px;
        text-align: center;
      }
      img{
        margin-bottom: 20px;
        @include skill-icon();
      }
    }
  }
}
works-left-right-col-link{
  &:hover{
    i.after{
      display: block;
      opacity: 1;
      visibility: visible;
      animation: fade-in-icons 1.5s;
    }
    i.before{
      opacity: 0;
      visibility: hidden;
      display: none;
      animation: fade-out-icons 1.5s;
    }
  }
  i{
    padding: 30px 0px 10px;
    // grid-area: i;
    // cursor: pointer;
    color: $accentPrimaryColor;
    font-size: 3rem;
    opacity: 0;
    visibility: hidden;
    display: none;
    animation: fade-in-icons 1.5s;
    &.active{
      opacity: 1;
      visibility: visible;
      display: block;
    }
  }
  a{
    // grid-area: a;
    z-index: 10;
    display: block;
    width: 100%;
    line-height: 100px;
    border-radius: 30px;
    color: $linkColor;
    font-size: $fzSS;
    &:hover{
      text-decoration: underline;
    }
    &:hover + i#after{
      display: block;
      opacity: 1;
      visibility: visible;
    }
    &:hover + i#before{
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }
  p.email-address, p.calendly{
    font-size: $fzSS;
    margin-top: 10px;
    color: $linkColor;
  } 
  p.sm-txt{
    // grid-area: p;
    font-size: $fzExss;
    // margin-top: 10px;
    padding-bottom: 30px;
    color: $textPrimaryColor;
  } 
}
hover-underline{
  &:hover{
    text-decoration: underline;
  }
}