section{
  // height: 70vh;
  padding: 100px 0px;
  div.section-border{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // height: 10px;
    .border{
      width: 50px;
      border-bottom: 1px solid var(--textPrimaryColor);
    }
    .border-txt{
      margin-left: 15px;
      font-size: $fzExs;
      line-height: 10%;
      @include tablet{
        font-size: $fzExss;
      }
    }
  }
  h2{
    font-size: $fzLL;
    margin: 10px 0 50px;
    @include tablet{
      font-size: $fzMM;
      margin: 10px 0 30px;
    }
  }
  .section-body-wrapper{
    padding: 50px;
    background: var(--bgSecondaryColor);
    border-radius: 50px;
    @include tablet{
      padding: 30px;
      border-radius: 30px;
    }
  }
}