section{
  // height: 70vh;
  margin-bottom: 200px;
  padding: 30px 0px;
  div.section-border{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10px;
    .border{
      width: 50px;
      border-bottom: 1px solid var(--textPrimaryColor);
    }
    .border-txt{
      margin-left: 15px;
      font-size: $fzExs;
      line-height: 10%;
    }
  }
  h2{
    font-size: $fzL;
    margin: 10px 0 50px;
  }
  .section-body-wrapper{
    padding: 50px;
    background: var(--bgSecondaryColor);
    border-radius: 50px;
  }
}