
$fzExll: 4rem;
$fzExl: 3rem;
$fzLL: 2.5rem;
$fzL: 2rem;
$fzMM: 1.8rem;
$fzM: 1.5rem;
$fzSS: 1.2rem;
$fzS: 1rem;
$fzExs: .9rem;
$fzExss: .8rem;

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Trade+Winds&display=swap');

$fontAccent: 'Carter One', cursive;
$fontMyName: 'Carter One', cursive;
$fontPrimary: 'Roboto', sans-serif;
$fontSecondary: 'Poppins', sans-serif;


$jpfontAccent: 'Yuji Syuku', serif;
$jpfontPrimary: 'Noto Sans JP', sans-serif;


// $sm: 425px;
$md: 768px;
$lg: 1024px;
$lg-pc: 1400px;
// $lg-pc: 1200px;

// @media screen and (max-width: $md) {
//   body{
//     margin: 0 auto;
//     width: 95%;
//   }
// }
// @mixin mobile{
//   @media screen and (max-width: $sm){
//     @content;
//   }
// }
@mixin tablet{
  @media screen and (max-width: $md){
    @content;
  }
}
@mixin pc{
  @media screen and (max-width: $lg){
    @content;
  }
}
@mixin lg-pc{
  @media screen and (max-width: $lg-pc){
    @content;
  }
}