$accentPrimaryColor: #8444DF;
$accentSecondaryColor: #773DC8;
$textPrimaryColor: #333;
$textSecondaryColor: white;
$bgPrimaryColor: #f7f7f7;
$bgSecondaryColor: #fff;

$bgTab: #fff;
$bgTabHover: #f7f7f7;
$bgTh: #ece0ff;
$fzLL: 2.5rem;
$fzL: 2rem;
$fzMM: 1.8rem;
$fzM: 1.5rem;
$fzSS: 1.2rem;
$fzS: 1rem;
$fzExs: .9rem;

$fontSecondary: 'Oswald', sans-serif;
$fontAccent: 'Quintessential', cursive;
$fontPrimary: 'Roboto', sans-serif;