section.works{
  .section-body-wrapper{
    @include tablet{
      padding: 30px;
    }
    @include mobile {
      padding: 20px;
    }
    .each-work{
      padding: 50px;
      box-shadow: 0px 0px 2px 0px var(--hoverBoxShadowColor);
      margin-bottom: 50px;
      border-radius: 10px;
      @include tablet{
        padding: 30px;
      }
      @include mobile{
        padding: 20px;
      }
      h3{
        grid-area: ttl;
        font-size: $fzLL;
        font-family: $fontAccent;
        color: var(--accentPrimaryColor);
        color: var(--accentSecondaryColor);
        text-align: center;
        margin-bottom: 15px;
        @include tablet{
          font-size: $fzMM;
        }
        @include mobile{
          font-size: $fzM;
        }
      }
      .works-grid-wrapper{
        display: grid;
        grid-template:
        "img features" 200px
        "made-of source-and-site" 80px /
        280px 1fr;
        grid-gap: 20px;
        @include pc{
          grid-template:
            "img features" 170px
            "made-of source-and-site" 80px /
            200px 1fr
        }
        @include tablet{
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        img.works-img{
          grid-area: img;
          width: 280px;
          aspect-ratio: 16/9;
          margin: 0 auto;
          @include pc{
            width: 100%;
          }
          @include tablet{
            width: 200px;
          }
          @include mobile{
            width: 100%;
          }
        }
        div.features-wrapper{
          grid-area: features;
          @extend works-inside-ttl;
          ul{
            li{
              font-size: $fzSS;
              margin-bottom: 5px;
              list-style: circle;
              margin-left: 25px;
              @include pc {
                font-size: $fzS;
              }
              @include tablet{
                font-size: $fzExs;
              }
            }
          }
        }
        div.made-of-wrapper{
          grid-area: made-of;
          @extend works-inside-ttl;
          div.components{
            // color: var(--textPrimaryColor);
            // font-size: $fzS;
            // span{
            //   color: var(--accentPrimaryColor);
            //   font-size: $fzSS;
            // }
            display: flex;
            align-items: center;
            img{
              width: 30px;
              // display: inline;
              margin-right: 15px;
              @include pc{
                width: 25px;
                margin-right: 10px;
              }
            }
          }
        }
        div.source-site-wrapper{
          grid-area: source-and-site;
          display: flex;
          flex-direction: column;
          // justify-content: center;
          // align-items: center;
          @extend works-inside-ttl;
          div{
            display: flex;
            align-items: center;
            gap: 20px;
            // i{
            //   color: var(--accentPrimaryColor);
            //   font-size: $fzS;
            //   margin-right: 10px;
            //   margin-bottom: 5px;
            //   @include pc{
            //     font-size: $fzS;
            //   }
            // }
            a{
              color: var(--textPrimaryColor);
              color: var(--linkColor);
              // font-size: $fzS;
              font-size: $fzSS;
              margin-bottom: 5px;
              @include tablet{
                font-size: $fzS;
              }
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}