section.works{
  .section-body-wrapper{
    padding: 50px;
    .each-work{
      display: grid;
      grid-template:
        "ttl ttl" 40px
        "img features" 180px
        "source-and-site made-of" 70px /
        300px 1fr;
      grid-gap: 20px;
      padding: 30px;
      box-shadow: 0px 0px 10px -5px var(--hoverBoxShadowColor);
      margin-bottom: 50px;
      border: 1px solid var(--bgPrimaryColor);
      border-radius: 30px;
      h3{
        grid-area: ttl;
        font-size: $fzL;
        font-family: $fontAccent;
        color: var(--accentPrimaryColor);
        color: var(--accentSecondaryColor);
        text-align: center;
      }
      img.works-img{
        grid-area: img;
        width: 300px;
        aspect-ratio: 16/9;
      }
      div.source-site-wrapper{
        grid-area: source-and-site;
        display: flex;
        flex-direction: column;
        gap: 10px;
        // justify-content: center;
        // align-items: center;
        div{
          // font-size: $fzSS;
          line-height: 25px;
          display: flex;
          align-items: center;
          &:not(:last-child){
            margin-bottom: 5px;
          }
          i{
            color: var(--accentPrimaryColor);
            font-size: $fzM;
            margin-right: 15px;
          }
          a{
            color: var(--textPrimaryColor);
            color: var(--linkColor);
            font-size: $fzSS;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
      div.features-wrapper{
        grid-area: features;
        p{
          font-size: $fzM;
          font-weight: bold;
          margin-bottom: 10px;
        }
        ul{
          li{
            font-size: $fzSS;
            margin-bottom: 5px;
            list-style: circle;
            margin-left: 25px;
          }
        }
      }
      div.made-of-wrapper{
        grid-area: made-of;
        p.made-of{
          font-size: $fzM;
          font-weight: bold;
          margin-bottom: 5px;
        }
        p.components{
          color: var(--textPrimaryColor);
          font-size: $fzS;
          span{
            color: var(--accentPrimaryColor);
            font-size: $fzSS;
          }
          img{
            width: 30px;
            display: inline;
            margin-right: 10px;
          }
        }
      }
    }
  }
}