
@import "./variables";
@import "./mixin";
@import "./keyframes";
*{
  box-sizing: border-box;
  line-height: 1.2;
}
html{
  scroll-behavior: smooth;
  color: $textPrimaryColor;
}
body{
  background: $bgPrimaryColor;
  font-family: $fontSecondary;
  font-size: $fzSS;
}
a{
  text-decoration: none;
  color: $textSecondaryColor;
  cursor: pointer;
}
// h1, h2, h3, h4, h5, h6{
//   font-family: $fontAccent;
// }
@import "./header";
main{
  padding-left: 100px;
  max-width: 1000px;
  margin: 0px auto;
  @import "./home";
  @import "./section";
  @import "./about";
  @import "./classes";
  @import "./skills";
  @import "./works";
  @import "./contact";
}
@import "./footer";
// width: clamp(200px, preferred, 500px);
