
:root{
  --accentPrimaryColor: #9b54ff;
  --accentSecondaryColor: #773DC8;
  --textPrimaryColor: #333;
  --textSecondaryColor: #fff;
  --bgPrimaryColor: #f7f7f7;
  --bgSecondaryColor: #fff;
  --linkColor: rgb(42, 170, 255);
  --hoverBoxShadowColor: #333;
  --bgTab: #fff;
  --bgTabHover: #f7f7f7;
  --bgTh: #ece0ff;
}
@import "./variables";
// @import "../jp_styles/jp_variables";
@import "./mixin";
@import "./keyframes";


*{
  box-sizing: border-box;
  line-height: 1.2;
}
html{
  scroll-behavior: smooth;
  color: var(--textPrimaryColor);
}

body{
  background: var(--bgPrimaryColor);
  font-family: $fontSecondary;
  font-size: $fzSS;
  @include tablet{
    font-size: $fzExs;
  }
}
// &::selection{
//   background: var(--accentPrimaryColor);
//   color: var(--textPrimaryColor);
// }
a{
  text-decoration: none;
  color: var(--textSecondaryColor);
  cursor: pointer;
}
// h1, h2, h3, h4, h5, h6{
//   font-family: $fontAccent;
// }
// div.black-cover{
//   height: 100vh;
//   width: 100vw;
//   position: fixed;
//   z-index: 10;
//   background: #000;
//   display: none;
//   opacity: 0;
//   visibility: hidden;
//   &.active{
//     display: block;
//     opacity: 1;
//     visibility: visible;
//   }
// }
@import "./header";
@import "./loading";
main{
  padding: 0 50px 0 150px;
  max-width: 1200px;
  margin: 0px auto;
  @include lg-pc{
    padding: 0 100px;
  }
  @include pc{
    padding: 0 50px;
  }
  @include tablet{
    padding: 0 40px;
  }
  @include mobile{
    padding: 0 20px;
  }
  
  @import "./home";
  @import "./section";
  @import "./about";
  @import "./classes";
  @import "./skills";
  @import "./works";
  @import "./contact";
}
@import "./footer";
// width: clamp(200px, preferred, 500px);

// @import "./theme-change";

// main#jp{
//   section{
//     h1, h2, h3, h4, h5, h6{
//       font-family: 'Yuji Syuku', serif;
//     }
//   }
// }

// @import "../jp_styles/jp_style";


.ripple {
  width: 5px;
  height: 5px;
  // transform: translate(-10px, -10px);
  background-color: transparent;
  position: fixed;
  border-radius: 50%;
  border: 1px solid var(--accentPrimaryColor);
}
