
@import "./variables";
@import "./mixin";
*{
  box-sizing: border-box;
  line-height: 1.2;
}
body{
  background: $bgPrimaryColor;
  color: $textPrimaryColor;
  font-family: $fontSecondary;
  font-size: $fzSS;
}
a{
  text-decoration: none;
  color: $textSecondaryColor;
  cursor: pointer;
}
// h1, h2, h3, h4, h5, h6{
//   font-family: $fontAccent;
// }
@import "./header";
// body{
//   margin-left: 150px;
// }
main{
  padding-left: 100px;
  max-width: 1000px;
  margin: 0px auto;
  @import "./home";
  @import "./section";
  @import "./about";
  @import "./classes";
  @import "./skills";
  @import "./works";
}
@keyframes arrow-move {
	0%, 100% {
    transform: translateY(0);
	}
	50% {
    transform: translateY(10px);
	}
}